<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Voting System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/viewresultStyle.css')}}" type="text/css">
  </head>
  <body>
  
  
  
  <div>
    <div class="container">
      <h2>Result of Election: </h2>
        <table class="center">
            <tr>
				<th>Candidate UCID</th>
                <th>Candidate Name</th>
				<th>Candidate Party</th>
                <th>Vote Count</th>
            </tr>
			{% for row in can_det %}
            <tr>
				<td>{{row[2]}}</td>
                <td>{{row[0]}}</td>
				<td>{{row[1]}}</td>
                <td id="td">{{result[row[2]]}}</td>
            </tr>
			{% endfor %}
        </table>
        <button type="button" id="btn1" onclick="window.location.href='{{url_for('voterdashboard')}}'">Back to Dashboard</button>
    </div>
  </body>
</html>
